@model IEnumerable<MobileInfo.Models.Brand>

@{
    ViewBag.Title = "Index";
}






<div class="container">

    @foreach (var item in Model)
    {
        <div class="col-md-2" style="margin-bottom:25px; margin-right:87px">
            <div class="thumbnail">
                <div class="Images">
                    <img src="@Url.Content(item.Image)" height="150" width="150" />
                </div>
                <div class="caption" style=" border-top: 3px solid">
                    <h3> @Html.ActionLink(@item.Name, "BrandMobiles", new { id = item.Id }) </h3>
                    <h4> @item.Country</h4>
                </div>
            </div>
        </div>
    }
</div>



<!-- Ad -->


<div class="container">
    <div class="row">
        <div class="col">
            <div class="avds_xl_container clearfix">
                <div class="avds_xl_background" style="background-image:url(images/avds_xl.jpg)"></div>
                <div class="avds_xl_content">
                    <div class="avds_title">Amazing Devices</div>
                    <div class="avds_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus.</div>
                    <div class="avds_link avds_xl_link"><a href="categories.html">See More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />

<!-- Icon Boxes -->


<div class="container">
    <div class="row icon_box_row">

        <!-- Icon Box -->
        <div class="col-lg-4 icon_box_col">
            <div class="icon_box">
                <div class="icon_box_image"><img src="images/icon_1.svg" alt=""></div>
                <div class="icon_box_title">Free Shipping Worldwide</div>
                <div class="icon_box_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
                </div>
            </div>
        </div>

        <!-- Icon Box -->
        <div class="col-lg-4 icon_box_col">
            <div class="icon_box">
                <div class="icon_box_image"><img src="images/icon_2.svg" alt=""></div>
                <div class="icon_box_title">Free Returns</div>
                <div class="icon_box_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
                </div>
            </div>
        </div>

        <!-- Icon Box -->
        <div class="col-lg-4 icon_box_col">
            <div class="icon_box">
                <div class="icon_box_image"><img src="images/icon_3.svg" alt=""></div>
                <div class="icon_box_title">24h Fast Support</div>
                <div class="icon_box_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<br />
<br />
<br />


<!-- Newsletter -->


<div class="container">
    <div class="row">
        <div class="col">
            <div class="newsletter_border"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="newsletter_content text-center ">
                <div class="newsletter_title" >Subscribe to our newsletter</div>
                <div class="newsletter_text" ><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros</p></div>
                
            </div>
        </div>
    </div>
</div>







<br />
<br />
<br />
<br />
<br />
<br />
<br />